.program-section {
   @apply w-[210mm] mx-auto pt-32 pb-12 print:pt-0 print:pb-0;
}

.program-section .table-header ::-moz-selection {
   @apply bg-primary text-white;
}

.program-section .table-header ::selection {
   @apply bg-primary text-white;
}

.program-section .table-header {
   @apply bg-secondary text-white text-sm;
}
.program-section tbody {
   @apply text-xs;
}

.program-section img {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   pointer-events: none;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@page {
   margin: 0;
   padding: 0;
   size: 8.3in 11.7in;
}