.print-area {
   @apply w-[210mm] mx-auto print:p-3;
}

.print-area .table-header ::-moz-selection {
   @apply bg-primary text-white;
}

.print-area .table-header ::selection {
   @apply bg-primary text-white;
}

.print-area .table-header {
   @apply bg-secondary text-white text-sm;
}
.print-area tbody {
   @apply text-xs;
}

.print-area img {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   pointer-events: none;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@page {
   margin: 0;
   padding: 0;
   size: 8.3in 11.7in;
}