@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Estedad-Black';
        src: url("./assets/fonts/Estedad-Black.ttf") format("truetype");
    }

    @font-face {
        font-family: 'Estedad-ExtraLight';
        src: url("./assets/fonts/Estedad-ExtraLight.ttf") format("truetype");
    }

    @font-face {
        font-family: 'Estedad-Regular';
        src: url("./assets/fonts/Estedad-Regular.ttf") format("truetype");
    }

    * {
        scroll-behavior: smooth;
    }

    ::-moz-selection {
        @apply bg-secondary text-primary;
    }

    ::selection {
        @apply bg-secondary text-primary;
    }

    /* Avoid setting style on autofill */

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    /* End of avoid setting style on autofill */

    tr,
    th,
    td {
        @apply border border-white;
    }

    img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    html {
        font-size: 16px;
    }

    body {
        @apply font-Estedad-Regular text-base bg-primary text-white;
    }
}

@layer components {
    .navlink {
        @apply relative h-full leading-[44px] lg:leading-[56px] text-sm lg:text-lg;
    }

    .navlink::before {
        content: '';
        @apply absolute w-full h-1 bottom-0 bg-primary opacity-0 transition-opacity duration-200;
    }

    .navlink:hover::before {
        @apply opacity-100;
    }

    .custom-input {
        @apply w-full h-12 lg:h-14 border border-white rounded-full bg-transparent p-3.5 mt-3 outline-none placeholder:text-xs lg:placeholder:text-sm;
    }

    .btn {
        @apply flex justify-center items-center bg-white text-primary w-64 lg:w-[320px] h-12 lg:h-14 rounded-full text-sm lg:text-lg relative outline-none transition-colors duration-200;
    }

    .btn-disabled {
        @apply bg-gray text-white pointer-events-none;
    }

    .btn-disabled div {
        @apply bg-gray border border-white;
    }

    .header-section-btn {
        @apply flex items-center text-sm lg:text-lg border rounded-[48px] transition-all duration-500 z-30;
    }

    .header-section-btn-ellipse {
        @apply h-12 lg:h-14 gap-2 px-4 xs:px-8 lg:px-12;
    }

    .header-section-btn-circle {
        @apply fixed top-6 right-4 justify-center size-12 lg:size-14 border-2;
    }

    .clicked-animation {
        animation: pulse-yellow 2s 1 forwards;
    }

    @keyframes pulse-yellow {
        0% {
            color: #E4F4FD;
            scale: 1;
        }

        50% {
            color: #FCC72C;
            scale: 1.05;
        }

        100% {
            color: #E4F4FD;
            scale: 1;
        }
    }

    .editlandmarks-menu {
        @apply absolute bottom-[calc(100%+8px)] left-0 w-full max-h-28 overflow-y-scroll flex flex-col border border-l-0 bg-primary text-white transition-all duration-300;
    }

    .editlandmarks-menu::-webkit-scrollbar {
        width: 8px;
    }

    .editlandmarks-menu::-webkit-scrollbar-track {
        @apply bg-white;
    }

    .editlandmarks-menu::-webkit-scrollbar-thumb {
        @apply bg-primary border-solid border border-white rounded-[4px];
    }
}

@layer utilities {
    .inner-shadow {
        box-shadow: 0 0 8px -2px #083C5A inset;
    }

    .outer-shadow {
        box-shadow: 0 0 8px -2px #083C5A;
    }

    /* For MUI Gauge chart */
    svg text {
        @apply !fill-white;
    }

    .hide-alt-text {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}