@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Estedad-Black';
        src: url("./assets/fonts/Estedad-Black.ttf") format("truetype");
    }

    @font-face {
        font-family: 'Estedad-ExtraLight';
        src: url("./assets/fonts/Estedad-ExtraLight.ttf") format("truetype");
    }

    @font-face {
        font-family: 'Estedad-Regular';
        src: url("./assets/fonts/Estedad-Regular.ttf") format("truetype");
    }

    * {
        scroll-behavior: smooth;
    }

    ::-moz-selection {
        @apply bg-secondary text-primary;
    }

    ::selection {
        @apply bg-secondary text-primary;
    }

    /* Avoid setting style on autofill */
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    /* End of avoid setting style on autofill */

    tr,
    th,
    td {
        @apply border border-white;
    }

    body {
        @apply font-Estedad-Regular text-base bg-primary text-white;
    }
}

@layer components {
    .navlink {
        @apply relative h-full leading-[44px] lg:leading-[56px] text-sm lg:text-lg;
    }

    .navlink::before {
        content: '';
        @apply absolute w-full h-1 bottom-0 bg-primary opacity-0 transition-opacity duration-200;
    }

    .navlink:hover::before {
        @apply opacity-100;
    }

    .profile-box {
        @apply bg-white text-primary text-sm lg:text-base rounded-[32px] p-4 lg:px-6 space-y-4 absolute top-9 lg:top-11 left-1/2 -translate-x-1/2;
    }

    .profile-box::before {
        content: '';
        clip-path: polygon(52% 39%, 0% 100%, 100% 100%);
        @apply w-12 h-7 lg:w-16 lg:h-9 bg-white absolute -top-6 lg:-top-8 left-1/2 -translate-x-1/2;
    }

    .login-header-underline {
        @apply h-0.5 md:h-1 bg-white mt-1 md:mt-2;
    }

    .custom-input {
        @apply w-full h-12 lg:h-14 border border-white rounded-full bg-transparent p-3.5 mt-3 outline-none placeholder:text-xs lg:placeholder:text-sm;
    }

    .btn {
        @apply flex justify-center items-center bg-white text-primary w-64 lg:w-[320px] h-12 lg:h-14 rounded-full text-sm lg:text-lg relative outline-none transition-colors duration-200;
    }

    .btn-disabled {
        @apply bg-gray text-white pointer-events-none;
    }

    .btn-disabled div {
        @apply bg-gray border border-white;
    }

    .org-modal-item {
        @apply relative w-full py-3.5 hover:bg-secondary hover:text-white;
    }

    .org-modal-item:last-child {
        @apply rounded-b-[32px];
    }

    .org-modal-item::before {
        content: '';
        @apply inline-block w-[100px] h-px absolute bottom-0 left-1/2 -translate-x-1/2 bg-primary;
    }

    .org-modal-item::before:last-child {
        @apply h-0;
    }

    .modal {
        @apply fixed top-0 left-0 w-full h-full flex flex-col justify-center items-center bg-transparent backdrop-blur-md z-50;
    }

    .exit-btn {
        @apply flex items-center text-sm border border-yellow rounded-[48px] transition-all duration-500 z-30;
    }

    .exit-btn-ellipse {
        @apply h-12 absolute right-0 gap-2 px-8 text-yellow;
    }

    .exit-btn-circle {
        @apply fixed top-6 right-4 justify-center border-2 bg-primary text-yellow size-12;
    }

    .save-btn {
        @apply flex items-center text-sm bg-secondary text-white border border-secondary rounded-[48px] transition-all duration-500 z-30;
    }

    .save-btn-ellipse {
        @apply h-12 absolute left-0 gap-2 px-8;
    }

    .save-btn-circle {
        @apply fixed top-20 right-4 justify-center size-12;
    }

    .clicked-animation {
        animation: pulse-yellow 1.5s 1 forwards;
    }
    @keyframes pulse-yellow {
        0% {
            color: #E4F4FD;
            scale: 1;
        }
        50% {
            color: #FCC72C;
            scale: 1.05;
        }
        100% {
            color: #E4F4FD;
            scale: 1;
        }
    }
}

@layer utilities {
    .inner-shadow {
        box-shadow: 0 0 8px -2px #083C5A inset;
    }

    .outer-shadow {
        box-shadow: 0 0 8px -2px #083C5A;
    }

    .show-less-text {
        white-space: nowrap;
        overflow: scroll;
        text-overflow: clip;
    }

    .touch-action-none {
        touch-action: none;
    }

    /* For MUI Gauge chart */
    svg text {
        @apply !fill-white;
    }
}